.login-container {
  margin: 50px auto;
  width: 400px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container > h1 {
  font-size: larger;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: inherit;
  color: lightgray;
  width: 350px;
}

.login-form > div {
  width: 100%;
}

.login-form-input {
  margin: 10px 10px;
  height: 30px;
  width: 90%;
  border-radius: 5px;
  border: solid 1px gray;
  text-align: center;
  font-size: 16px;
}

.login-form-input:focus {
  outline-color: #fa314a;
}

.login-button {
  background-color: #fa314a;
  padding: 10px 5px;
  margin-top: 10px;
  width: 100%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.login-button:hover {
  transform: scale(0.97);
}

.create-account-link {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 14px;
  color: gray;
}

.register-link {
  text-decoration: underline;
  color: black;
  cursor: pointer;
  margin-left: 5px;
}

.register-link:hover {
  color: #fa314a;
}
